## Analisis de Sentimiento tomado de reseñas en español

In [2]:
import pandas as pd
import numpy as np

In [42]:
restaurant_dataset = pd.read_csv("dataset_sentiment_analisys.csv", sep=';')
restaurant_dataset.describe()

       puntuación  Unnamed: 3
count   40.000000         0.0
mean    25.600000         NaN
std     22.894182         NaN
min      1.000000         NaN
25%      3.000000         NaN
50%     22.500000         NaN
75%     50.000000         NaN
max     50.000000         NaN

In [43]:
restaurant_dataset.head()

,puntuación,review,sentimiento,Unnamed: 3
0,40,Dispone de espacios acogedores con unas mampar...,positivo,NaN
1,40,"Tanto la comida como los pintxos son buenos, l...",positivo,NaN
2,50,Hemos comido estupendamente en la terraza con ...,positivo,NaN
3,50,Excelente comida en una de las mejores terraza...,positivo,NaN
4,40,"Para comer o cenar algo esta bien, lo malo es ...",positivo,NaN